
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
{% block contenido %}
    <h1>{{ mensaje }}</h1>
    <a href="{% url 'alta-analista' %}">
    	<input type="button" value="Registrar Analista" class="botonlogico" />
    </a>
{% endblock contenido %}


</body>
</html>